apiVersion: apps/v1
kind: Deployment
metadata:
  name:  scram-dhaka
  namespace: demo
spec:
  selector:
    matchLabels:
      app: agilebd2023
  template:
    metadata:
      labels:
        app: agilebd2023
    spec:
      containers:
        - name: agilebd2023
          image: emranhos2/scram-dhaka:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
